@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


#newsFeed {
  width: 40%;
  display: inline-block;
  overflow: scroll;
  height: 350px;
  vertical-align: top;
  font-family: 'Roboto Slab';
  font-size: 14px;
  text-align: left;
}

#newsFeed a {
  text-decoration: none;

}
